@{
    ViewData["Title"] = "Успешный запрос";
}

<body>
    <div class="container">
        <div class="text-center">
            <img class="success-img" src="~/images/success.png" />
        </div>
        <h2>Запрос комерческого предложения оформлен успешно!</h2>
        <p>
            Спасибо за оформление комерческого предложения на privoda.by<br />
            Через некоторое время с вами свяжутся наши специалисты.
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-default">На главную</a>
    </div>
</body>
