@using privoda.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Главная";
}

<html>
<head>
    <title>Домашняя</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="main-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                    <li data-target="#main-slider" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner carousel-fade">
                    <div class="item active">
                        <img class="img" src="~/images/programming.png" alt="programming">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/images/delivery.png" alt="delivery">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/images/training.png" alt="training">
                    </div>
                </div>

                <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 green-block">
            <div class="col-lg-6 col-sm-6 green-block-text">
                <b>Altivar - преобразователь частоты</b>
                <p>
                    <small>
                        Частотный преобразователь Altivar – устройство, управляющее скоростью вращения электродвигателя, и преобразующее
                        трехфазное или однофазное напряжения (стандартная частота 50 Гц) в трехфазное напряжение определенной частоты.
                    </small>
                </p>
            </div>
            <div class="col-lg-offset-8 col-sm-offset-8 col green-img">
                <img class="img-responsive" src="~/images/LifeIsOn.png" alt="" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row main-content">
            <div style="text-align: center;">
                <b>Новая концепция продуктового портфеля</b>
            </div>
            <div class="new-lines-box row">
                @foreach (LineType type in Model.LineTypes)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div style="text-align: center;">
                            @type.Name
                        </div>
                        <div class="text-center">
                            <a href="~/Home/Lines#@type.Name">
                                <img class="type-img" src="~/images/types/@type.Image" alt="@type.Name" />
                            </a>
                        </div>

                        @foreach (ModelLine line in Model.ModelLines)
                        {
                            if (line.TypeId == type.Id)
                            {
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-line">
                                    @foreach (Description description in Model.Descriptions)
                                    {
                                        if (description.LineId == line.Id)
                                        {
                                            <a href="~/Home/Line/@line.Id" title="@description.Small">
                                                <b>@line.Name</b>
                                            </a>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                }
            </div>

            <div class="row">
                <div class="text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Lines" class="btn btn-default">Все линейки</a>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" style="text-align: center;">
        <img class="schema-img" src="~/images/SchemaWithLines.png" />
    </div>-->
    <?xml version="1.0" encoding="utf-8" ?>
    <!-- Generator: Adobe Illustrator 23.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: none;
        stroke: #FF0000;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: none;
        stroke: #383E4C;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

    .st2 {
        fill: #383E4C;
    }

    .st3 {
        font-family: 'Calibri';
        font-weight: bold;
    }

    .st4 {
        font-size: 27.3322px;
    }

    .st5 {
        fill: #FFFFFF;
        stroke: #009245;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }

    .st6 {
        font-family: 'Calibri';
    }

    .st7 {
        font-size: 17px;
    }
</style>
<g id="Border">
    <rect x="345.5" y="52.5" class="st0" width="1176" height="930" />

</g>
<g id="Person">
	
    <image style="overflow:visible;" width="98" height="133" xlink:href="/images/animation/person-and-flash-only.png" transform="matrix(0.5714 0 0 0.5714 1528 187)">
	</image>
</g>
<g id="lines">
    <g id="G5">
    <line class="st1" x1="583.44" y1="212.71" x2="1521.43" y2="212.71" />

	</g>
    <g id="G4">
    <polyline class="st1" points="583.44,247.66 1433.22,247.66 1433.22,450.17 1271.71,450.17 1433.22,450.17 1433.22,858.91
			1269.23,858.91 		" />

	</g>
    <g id="G3">
    <polyline class="st1" points="1040.63,448.92 906.46,448.92 906.46,598.01 		" />

    <polyline class="st1" points="645.56,656.4 882.85,656.4 906.46,632.8 		" />

    <polyline class="st1" points="1071.69,858.91 906.46,858.91 906.46,691.19 		" />

    <circle class="st2" cx="906.46" cy="596.77" r="3.73" />

    <circle class="st2" cx="906.46" cy="691.19" r="3.73" />

	</g>
    <g id="G2">
    <polyline class="st1" points="426.9,656.4 399.57,656.4 399.57,243.93 455.48,243.93 		" />

	</g>
    <g id="G1">
    <line class="st1" x1="501.44" y1="111" x2="501.44" y2="154.48" />

    <line class="st1" x1="515.11" y1="111" x2="515.11" y2="154.48" />

    <line class="st1" x1="528.78" y1="111" x2="528.78" y2="154.48" />

    <line class="st1" x1="532.5" y1="384.32" x2="532.5" y2="590.56" />

    <line class="st1" x1="516.35" y1="384.32" x2="516.35" y2="590.56" />

    <line class="st1" x1="500.2" y1="384.32" x2="500.2" y2="590.56" />

	</g>
</g>
<g id="text">
    <text transform="matrix(1 0 0 1 462.5107 754.6543)" class="st2 st3 st4">ДВИГАТЕЛЬ</text>
    <text transform="matrix(1 0 0 1 468.7427 353.3169)" class="st2 st3 st4">ALTIVAR</text>
    <text transform="matrix(1 0 0 1 1117.2314 544.3262)" class="st2 st3 st4">НАСОС</text>
    <text transform="matrix(1 0 0 1 1122.5381 952.3584)" class="st2 st3 st4">ЛИФТ</text>
</g>
<g id="altivar">
	
    <image style="overflow:visible;" width="145" height="220" xlink:href="/images/animation/altivar-only.png" transform="matrix(0.6909 0 0 0.6909 465.4091 171)">
	</image>
</g>
<g id="engine">
	
    <image style="overflow:visible;" width="282" height="181" xlink:href="/images/animation/engine-only.png" transform="matrix(0.6783 0 0 0.6783 435.7072 603.1099)">
	</image>
</g>
<g id="pump">
	
    <image style="overflow:visible;" width="320" height="305" xlink:href="/images/animation/pump-only.png" transform="matrix(0.6735 0 0 0.6735 1048.4918 346.5469)">
	</image>
</g>
<g id="lift">
	
    <image style="overflow:visible;" width="217" height="265" xlink:href="/images/animation/lift-only.png" transform="matrix(0.7434 0 0 0.7434 1084.8981 745)">
	</image>
</g>
<g id="MessageBox1">
    <path id="Box" class="st5" d="M945.5,297.65H615c-5.52,0-10-4.48-10-10V181c0-5.52,4.48-10,10-10h330.5c5.52,0,10,4.48,10,10
		v106.65C955.5,293.17,951.02,297.65,945.5,297.65z" />

    <text id="Message" transform="matrix(1 0 0 1 615.7661 198.6807)"><tspan x="0" y="0" class="st6 st7">Контроль параметров входного </tspan><tspan x="0" y="20.4" class="st6 st7">напряжения. ПЧ способен самостоятельно </tspan><tspan x="0" y="40.8" class="st6 st7">определять аварийные ситуации и </tspan><tspan x="0" y="61.2" class="st6 st7">предупреждать их развитие</tspan></text>
</g>
<g id="MessageBox2">
    <path id="Box_1_" class="st5" d="M375.1,545.22H44.6c-5.52,0-10-4.48-10-10V428.57c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v106.65C385.1,540.74,380.62,545.22,375.1,545.22z" />

    <text id="Message_1_" transform="matrix(1 0 0 1 45.3672 446.2487)"><tspan x="0" y="0" class="st6 st7">Широчайший спектр защит электродвигателя, </tspan><tspan x="0" y="20.4" class="st6 st7">от установки простейших термодатчиков, </tspan><tspan x="0" y="40.8" class="st6 st7">до сложных алгоритмов расчета </tspan><tspan x="0" y="61.2" class="st6 st7">с функцией памяти</tspan></text>
</g>
<g id="MessageBox3">
    <path id="Box_2_" class="st5" d="M867.95,567.5h-330.5c-5.52,0-10-4.48-10-10v-76.61c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v76.61C877.95,563.02,873.48,567.5,867.95,567.5z" />

    <text id="Message_2_" transform="matrix(1 0 0 1 538.2197 498.5678)"><tspan x="0" y="0" class="st6 st7">Возможность подключения любых видов </tspan><tspan x="0" y="20.4" class="st6 st7">нагрузок, и хранении в памяти программ </tspan><tspan x="0" y="40.8" class="st6 st7">для адаптации к каждой из них. </tspan></text>
</g>
<g id="MessageBox4">
    <path id="Box_3_" class="st5" d="M1801.99,446.5h-330.5c-5.52,0-10-4.48-10-10v-85.1c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v85.1C1811.99,442.02,1807.52,446.5,1801.99,446.5z" />

    <text id="Message_3_" transform="matrix(1 0 0 1 1472.2607 369.0764)"><tspan x="0" y="0" class="st6 st7">Функции контроля состояния самого рабочего </tspan><tspan x="0" y="20.4" class="st6 st7">устройства, основанные на анализе его </tspan><tspan x="0" y="40.8" class="st6 st7">параметров и сравнении их с текущими </tspan><tspan x="0" y="61.2" class="st6 st7">параметрами технологического процесса</tspan></text>
    <path id="Box_4_" class="st5" d="M1802.12,725.5h-330.5c-5.52,0-10-4.48-10-10V606.4c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v109.1C1812.12,721.02,1807.65,725.5,1802.12,725.5z" />

    <text id="Message_4_" transform="matrix(1 0 0 1 1472.3884 624.0764)"><tspan x="0" y="0" class="st6 st7">Анализ параметров рабочей среды </tspan><tspan x="0" y="20.4" class="st6 st7">(для насосных серий), позволяет строить </tspan><tspan x="0" y="40.8" class="st6 st7">графики прогноза дальнейшей работы </tspan><tspan x="0" y="61.2" class="st6 st7">механизма, что значительно оптимизирует </tspan><tspan x="0" y="81.6" class="st6 st7">энергозатраты</tspan></text>
</g>
<g id="MessageBox5">
    <path id="Box_5_" class="st5" d="M1429.29,195.5h-330.5c-5.52,0-10-4.48-10-10v-71.84c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v71.84C1439.29,191.02,1434.82,195.5,1429.29,195.5z" />

    <text id="Message_5_" transform="matrix(1 0 0 1 1099.5586 130.3413)"><tspan x="0" y="0" class="st6 st7">Полный перечень функций безопасности, </tspan><tspan x="0" y="20.4" class="st6 st7">гарантирующий сохранность здоровья </tspan><tspan x="0" y="40.8" class="st6 st7">персонала, и качество работы оборудования</tspan></text>
</g>
<g id="MessageBox6">
    <path id="Box_6_" class="st5" d="M1881.65,144.5h-330.5c-5.52,0-10-4.48-10-10V48.4c0-5.52,4.48-10,10-10h330.5
		c5.52,0,10,4.48,10,10v86.1C1891.65,140.02,1887.18,144.5,1881.65,144.5z" />

    <text id="Message_6_" transform="matrix(1 0 0 1 1551.9204 65.0801)"><tspan x="0" y="0" class="st6 st7">Задействовав все функции частотного </tspan><tspan x="0" y="20.4" class="st6 st7">преобразователя, вы получаете полный </tspan><tspan x="0" y="40.8" class="st6 st7">контроль не только над электродвигателем, </tspan><tspan x="0" y="61.2" class="st6 st7">но и над всем технологическим процессом.</tspan></text>
</g>
</svg>


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
