@using privoda.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Главная";
}

<html>
<head>
    <title>Домашняя</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="main-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider" data-slide-to="1"></li>
                    <li data-target="#main-slider" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner carousel-fade">
                    <div class="item active">
                        <img class="img" src="~/images/programming.png" alt="programming">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/images/delivery.png" alt="delivery">
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="~/images/training.png" alt="training">
                    </div>
                </div>

                <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 green-block">
            <div class="col-lg-6 col-sm-6 green-block-text">
                <b>Altivar - преобразователь частоты</b>
                <p>
                    <small>
                        Частотный преобразователь Altivar – устройство, управляющее скоростью вращения электродвигателя, и преобразующее
                        трехфазное или однофазное напряжения (стандартная частота 50 Гц) в трехфазное напряжение определенной частоты.
                    </small>
                </p>
            </div>
            <div class="col-lg-offset-8 col-sm-offset-8 col green-img">
                <img class="img-responsive" src="~/images/LifeIsOn.png" alt="" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row main-content">
            <div style="text-align: center;">
                <b>Новая концепция продуктового портфеля</b>
            </div>
            <div class="new-lines-box row">
                @foreach (LineType type in Model.LineTypes)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div style="text-align: center;">
                            @type.Name
                        </div>
                        <div class="text-center">
                            <a href="~/Home/Lines#@type.Name">
                                <img class="type-img" src="~/images/types/@type.Image" alt="@type.Name" />
                            </a>
                        </div>

                        @foreach (ModelLine line in Model.ModelLines)
                        {
                            if (line.TypeId == type.Id)
                            {
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-line">
                                    @foreach (Description description in Model.Descriptions)
                                    {
                                        if (description.LineId == line.Id)
                                        {
                                            <a href="~/Home/Line/@line.Id" title="@description.Small">
                                                <b>@line.Name</b>
                                            </a>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                }
            </div>

            <div class="row">
                <div class="text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Lines" class="btn btn-default">Все линейки</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <img class="schema-img" src="~/images/SchemaWithLines.png" />
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
