
@{
    ViewData["Title"] = "Services";
}

<html>
<head>
    <title>Сервисы</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center; margin-bottom: 2%">
            <h1>Сервис</h1>
        </div>
        <div clas="row">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/images/training_2.png" alt="poster" />
                <section>
                    <h2>Обучение</h2>
                    <p>
                        Постоянное поддержание товарного ряда на складе в соответствии с пожеланиями клиентов –
                        одно из основных направлений деятельности нашей компании
                    </p>
                    <p>
                        Ассортимент и количество товаров, входящих в складскую программу, постоянно обновляется и
                        формируется на основании потребностей и пожеланий клиентов.
                    </p>
                    <p>
                        Данная продукция пользуется повышенным спросом, поэтому рекомендуется, в процессе принятия
                        решения о покупке, резервировать товар,
                        тем самым обеспечивая себе его гарантированное наличие на складе.
                    </p>
                </section>
            </div>
        </div>
        <div clas="row">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/images/delivery_2.png" alt="poster" />
                <section>
                    <h2>Доставка</h2>
                    <p>
                        Более 15 лет ОДО «ПневмоЭлектроСервис» занимается поставкой оборудования и созданием систем автоматизации производства.
                        Ввиду своей деятельности нам приходится отправлять конечный продукт своим клиентам не только на территории
                        РБ но и за рубежом. За годы работы, совместно с нашими партнерами, была создана и отлажена система логистики.
                        Результатом данных усилий стала стабильная удовлетворенность наших клиентов сроками и качеством доставки грузов.
                        Пользуемся услугами лучших транспортных компаний, представленных на рынке логистики РБ:  Militzer & Munch,
                        Dynamic Parcel Distribution.
                    </p>
                    <p>
                        В результате многолетнего сотрудничества, данные компании предоставляют там особые условия на свои услуги,
                        что позволяет нам не включать цену транспортировки в стоимость заказа.
                        За годы работы мы поставляли товары и решения в такие страны как: Молдова, Венесуэла, Польша, Армения, Россия, Казахстан.
                    </p>
                </section>
            </div>
        </div>
        <div clas="row">
            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/images/programming_2.png" alt="poster" />
                <section>
                    <h2>Программирование</h2>
                    <p>
                        Основной технической специализацией нашей компании является обслуживание приводной техники Schneider electric.
                        Являясь авторизованным сервисным центром данной организации в РБ, мы предоставляем полный спектр услуг в данной сфере:
                        от консультации по вопросам подбора, совместимости и настройкам оборудования, до капитального ремонта самого
                        преобразователя частоты.
                    </p>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

