
@{
    ViewData["Title"] = "Успешная заявка";
}

<body>
    <div class="container">
        <div class="text-center">
            <img class="success-img" src="~/images/success.png" />
        </div>
        <h2>Заявка оформлен успешно!</h2>
        <p>
            Спасибо за оформления заявки на подбор решения на privoda.by<br />
            Через некоторое время с вами свяжутся наши специалисты.
        </p>
        <a href="Index" class="btn btn-default">На главную</a>
    </div>
</body>

